<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='vue.js'></script>
  <script src='./djs.js'></script>
</head>
<style>
  .button_div{
    margin-top: 10px;
  }
</style>
<body>
  <div class="temp">

    <!-- 开始 -->


    <timeitem t="1699" title="倒计时结束："></timeitem>
    <!-- 
  倒计时
  t="倒计时多少秒"
  title="倒计时前面的标题"
-->



    <gbutton size="lager"></gbutton>
    <gbutton btn_color="red"></gbutton>
    <gbutton btn_color="red" size='auto'></gbutton>    
    <gbutton size="small" btn_color="blue"></gbutton>
<!--
  按钮组件
  有btntxt插槽,用c标签，带入内容
  size:(lager,small,auto,默认中)尺寸
  btn-color：(默认orange)颜色
-->

<actionsheet v-on:cancel="cancel" :menulist="list" v-on:selected="chosed">
</actionsheet>




    <actionsheet v-on:cancel="cancel" :menulist="list" v-on:selected="chosed" @click.native="clickActionSheet" ref="ActionSheet">
      <gbutton  slot="value"><c slot="btntxt" ref="gbutton">ActionSheetS</c></gbutton>
    </actionsheet>
<!-- 
  :menulist:传入一个数组，按键列表
  第一步先V-on 监听事件，cancel 监听取消的事件，在这里面触发methods事件，等号后面写事件名
  selected 监听 选中事件，在这里面触发methods事件，等号后面写事件名，返回两个值，
  第一个值：索引
  第二个值:内容 
-->


<touch
 v-on:touchstart='touchstart'
 v-on:touching='touching'
 v-on:touchend='touchend'
 monitor='true'
 v-bind:style="'position:fixed;top:'+y+'px;left:'+x+'px'"
 ref="touchdiv"
 >
  <gbutton slot="touch" id="touch">
    <c slot="btntxt">拖动我试试</c>
  </gbutton>
</touch>

<!-- 结束 -->
  </div>

  <script>
    Vue.use(gxc)
    var xx = new Vue({
      el: '.temp',
      data:{
        x:'',
        y:'',
        left:'',
        top:'',
        list:['我是1','我是2']//ActionSheet
      },
      methods: {
        clickActionSheet:function(){
         
          this.$refs.ActionSheet.show=!this.$refs.ActionSheet.show;
        },
          cancel:function(){
            alert("我点击了取消")
          },//ActionSheet
          chosed:function(index,val){
            /* index：索引
            val:内容 */
            switch(index){
              case 0:
              alert('我选择了第'+parseInt(index+1)+'个按钮，触发了回调事件');
              break;
              case 1:
              alert('我选择了第'+parseInt(index+1)+'个按钮，触发了回调事件');              
              break;
            }
            
          },//ActionSheet
          touchstart:function(x,y){
            var t=document.getElementById('touch');
            this.left=x-t.getBoundingClientRect().left;
            this.top=y-t.getBoundingClientRect().top;
            console.log('我开始拖动了');
          },//touch
          touching:function(x,y){
            this.x=x-this.left;
            this.y=y-this.top;
            
           
          },
          touchend:function(){
            console.log('我结束拖动了');
          }
      }
    })
  </script>
</body>

</html>